{% load static %}


 <div class="col-md-6">
            <div class="form-group">
                <label class="small mb-1" for="{{ form.LOBID.name.id_for_label }}">Линия бизнеса</label>
                {{ form.LOBID.name }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="small mb-1" for="{{ form.name.id_for_label }}">Название продукта</label>
                {{ form.name }}
            </div>
        </div>
   
        <div class="col-md-6">
            <label class="small mb-1" for="{{ form.name_metafield.id_for_label }}">Название дополнительного поля</label>
            {{ form.name_metafield }}
        </div>


